@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap');

:root {
    --primary: #3492eb;
    --bg: #191a18;
    --scondBg: #222425;
}

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    border: none;
    text-transform: capitalize;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.container .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 3%;
    background-color: var(--scondBg);
    width: 95%;
    position: fixed;
}

.container .header .logo {
    font-size: 2.4rem;
    font-weight: 600;
    color: white;
}

.container .header .navbar a {
    display: inline-block;
    font-size: 1.4rem;
    margin: 0 1.6rem;
    color: white;
    transition: .2s;
}

.container .header .navbar a:hover {
    color: var(--primary);
}

.container .header .navbar a::after {
    content: '';
    display: block;
    position: absolute;
    padding: 0.2rem 2.4rem;
    border-bottom: 1px solid var(--primary);
    transform: scaleX(0);
    transition: .2s;
}

.container .header .navbar a:hover::after {
    transform: scaleX(1);
}

#hamburger-menu {
    display: none;
}

/* HERO SECTION */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
}

.hero .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 5%;
    width: 95%;
    background-color: var(--scondBg);
}

.hero .content h3 {
   font-size: 1.6rem;
   color: #eee;
   font-weight: 400;
   opacity: 50%;
   margin-bottom: 1.6rem;
}

.hero .content h1 {
    font-size: 3.5em;
    color: var(--primary);
    margin-bottom: 2rem;
}

.hero .content .cta {
    padding: 0.8rem 1.4rem;
    color: wheat;
    background-color: var(--primary);
    border-radius: 0.8rem;
}

.hero .content-img img {
    width: 12rem;
}

/* ABOUT */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
    padding: 1.4rem 2.5%;
    width: 100%;
}

.about .content {
    display: flex;
    align-items: center;
    background-color: var(--scondBg);
    padding: 1.4rem;
}

.about .content .content-text {
    color: white;
    padding: 2rem;
    flex: 1 1 50rem;
}

.about .content .content-text h3 {
    font-size: 1.6rem;
    color: var(--primary);
    margin-bottom: 2rem;
}

.about .content .content-text h1 {
    font-size: 4em;
    margin-bottom: 2rem;
}

.about .content .content-text p {
    font-size: 1.1rem;
    font-weight: 300;
    margin-bottom: 1.4rem;
}
.about .content .about-img {
    flex: 1 1 50rem;
}
.about .content .about-img img {
    width: 100%;
    border-radius: 0.8rem;
}

/* SERVICES */
.services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.services .box {
    background-color: var(--scondBg);
    max-width: 30rem;
    text-align: center;
    padding: 2.4rem 2.4rem;
    margin:  1.6rem;
}

.services .box h2 {
    color: white;
    margin-bottom: 1.4rem;
}

.services .box p {
    color: #aaaaaa;
    font-size: 0.8rem;
    margin-bottom: 1.4rem;
}

.services .box a {
    color: wheat;
    border-radius: 1rem;
    transition: .2s;
}

.services .box a:hover {
    color: var(--primary);
}

/* CONTACT */
.contact {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.contact form {
    display: block;
    justify-content: center;
    margin-top: 2rem;
    background-color: var(--scondBg);
}

.contact form .input-group {
    display: flex;
    align-items: center;
    text-align: left;
    background-color: var(--bg);
    padding: 1.4 5rem;
    margin: 2.4rem;
}

.contact form .input-group a {
    color: white;
}

.contact form .input-group input {
    padding: 1.4rem 6rem ;
    background: none;
    color: white;
}

.contact form .btn {
    display: block;
    justify-content: center;
    background-color: var(--primary);
    text-align: center;
    margin: auto;
    margin-bottom: 1.4rem;
    padding: 0.8rem 1rem;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    margin-top: 3rem;
    background-color: var(--scondBg);
}

footer .content p {
    font-size: 1.4rem;
    color: rgb(172, 172, 172);
}

footer .content-icon {
    padding: 1rem;
    background-color: var(--primary);
    border-radius: .8rem;
}

footer .content-icon a {
    color: white;
}









/* MEDIA QUERYS */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}

/* TABLET */
@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }

    .container .header .navbar {
        position: absolute;
        width: 30rem;
        height: 100vh;
        background-color: var(--scondBg);
        top: 100%; right: -100%;
        transition: .2s;
    }

    .container .header .navbar.active {
        right: 0;
    }

    .container .header .navbar a {
        display: block;
        padding: 2rem;
    }


    #hamburger-menu {
        color: white;
        display: inline-block;
    }
}

/* MOBILE */
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }
}